/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Background variables */
    --bg-body: #000000;
    --bg-footer: #212021;
    --bg-btn-end-call: #424242;
    --bg-btn-top-tags: #4a4a4a;
    --bg-btn-hover: #3d3b3d;
    --bg-btn-end-call-hover: #585858;
    --bg-btn-top-tags-hover: #707070;
    /* Text colors variables */
    --txt-body: #ffffff;
    --txt-footer: #ffffff;
    --txt-btn-end-call: #ff0000;
    --txt-btn-top-tags: #ffffff;
    --txt-btn-share: #43a806;
    --txt-btn-share-hover: #008000;
    /* Size variables */
    --body-font-size: 0.8rem;
    --microphone-font-size: 0.9rem;
    --main-padding-top: 80px;
    --main-padding-right: 90px;
    --main-padding-left: 90px;
    --main-padding-bottom: 50px;
    --cams-gap-column: 5px;
    --cams-gap-row: 12px;
    --footer-height: 85px;
    --btn-end-call-width: 115px;
    --action-symbol-font-size: 1.8rem;
    --action-angular-font-size: 0.7rem;
    --cam-ban-font-size: 5rem;
    /* Utility variables */
    --number-columns: 7;
    --number-rows: 5;
}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
body{
    font-family: 'Helvetica','Arial'!important;
    font-size: var(--body-font-size);
}
.pos-angle-bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
}
.pos-angle-top-right{
    position: absolute;
    top: 0;
    right: 0;
}
.capitalize{
    text-transform: capitalize;
}
.translate-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.txt-green{
    color: var(--txt-btn-share);
}

/*****************************************************************/
/**************************** Flexbox ****************************/
/*****************************************************************/
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.flex-col{
    flex-flow: column wrap;
}
.row-align-center{
    align-items: center;
}
.row-content-center{
    justify-content: center;
}
.col-gap{
    column-gap: var(--cams-gap-column);
}
.little-col-gap{
    column-gap: var(--cams-gap-column-little);
}
.row-gap{
    row-gap: var(--cams-gap-row);
}

/*****************************************************************/
/****************************** Main *****************************/
/*****************************************************************/
main{
    width: 100%;
    height: calc(100vh - var(--footer-height));
    background-color: var(--bg-body);
    color: var(--txt-body);
    position: relative;
    padding: var(--main-padding-top) var(--main-padding-right) 
    var(--main-padding-bottom) var(--main-padding-left);
    position: relative;
}
.camsContainer{
    width: 100%;
    height: 80vh;
    overflow: hidden;
}
.viewOptions .option{
    background-color: var(--bg-btn-top-tags);
    color: var(--txt-btn-top-tags);
    padding: 5px 5px;
    margin: 5px;
    border-radius: 5px;
}
.viewOptions .option:hover{
    background-color: var(--bg-btn-top-tags-hover);
    cursor: pointer;
}

/*****************************************************************/
/****************************** Cam ******************************/
/*****************************************************************/
.camsContainer .cam{
    position: relative;
    width: calc(100% / var(--number-columns) - var(--cams-gap-column));
    height: calc(100% / var(--number-rows) - var(--cams-gap-row));
    background-image: url(https://picsum.photos/300/200);
    background-size: cover;
    min-width: 90px;
    border: 2px solid trasparent;
}
.camsContainer .cam .username{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 7px 5px;
    text-align: center;
}
.camsContainer .cam .username i{
    font-size: var(--microphone-font-size);
    padding-right: 3px;
}
.camsContainer .cam:hover{
    border: 2px solid var(--txt-body);
    cursor: pointer;
}
.camsContainer .cam .ban{
    font-size: calc(var(--cam-ban-font-size) - 0.6rem);
    opacity: 0.5;
    visibility: hidden;
}
.camsContainer .cam:hover .ban{
    visibility: visible;
}
.camsContainer .ban:hover{
    opacity: 1;
    font-size: var(--cam-ban-font-size);
}

/*****************************************************************/
/***************************** Footer ****************************/
/*****************************************************************/
footer{
    width: 100%;
    height: var(--footer-height);
    background-color: var(--bg-footer);
    color: var(--txt-footer);
    overflow-y: auto;
}
.toolsContainer, .tools, .actions, .tools ul, .actions ul{
    height: 100%;
}
.toolsContainer .endCall{
    width: var(--btn-end-call-width);
    height: 100%;
    background-color: var(--bg-btn-end-call);
    color: var(--txt-btn-end-call);
    position: relative;
}
.toolsContainer .endCall:hover{
    background-color: var(--bg-btn-end-call-hover);
    font-weight: 800;
    cursor: pointer;
}
.toolsContainer .endCall .endCallSymbol{
    display: none;
}
.toolsContainer .endCall span{
    width: 100%;
    text-align: center;
}
.toolsContainer .action{
    height: 100%;
    text-align: center;
}
.toolsContainer .largePadding{
    padding: 15px;
}
.toolsContainer .smallPadding{
    padding: 7px;
}
.toolsContainer .action i{
    font-size: var(--action-symbol-font-size);
}
.toolsContainer .action span{
    padding-top: 8px;
}
.toolsContainer .other{
    height: 100%;
    font-size: var(--action-angular-font-size);
    position: relative;
    margin: 0 0.5rem 0 0.5rem;
}
.toolsContainer .btn:hover{
    background-color: var(--bg-btn-hover);
    border-radius: 5px;
    cursor: pointer;
}
.toolsContainer .btn:hover .txt-green{
    color: var(--txt-btn-share-hover);
}