/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Background variables */
    --bg-body: #000000;
    --bg-footer: #212021;
    --bg-btn-end-call: #424242;
    --bg-btn-top-tags: #333333;
    /* Text colors variables */
    --txt-body: #ffffff;
    --txt-footer: #ffffff;
    --txt-btn-end-call: #ff0000;
    --txt-btn-top-tags: #ffffff;
    --txt-btn-share: #43a806;
    --txt-btn-share-hover: #008000;
    --txt-btn-hover: #d9d9d9;
    /* Size variables */
    --body-font-size: 1rem;
}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
body{
    font-family: 'Helvetica','Arial'!important;
}